<launch>
    <arg name="pose"/>
    <arg name="speed" default="1.0"/>
    <arg name="plan_only" default="false"/>

    <node name="absolute_move" pkg="panda_controller" 
    type="absolute_move" respawn="false" output="screen">
        <param name="pose" value="$(arg pose)"/>
        <param name="speed" value="$(arg speed)"/>
        <param name="plan_only" value="$(arg plan_only)"/>
    </node>
</launch>
