<launch>
    <node name="panda_console" pkg="panda_controller" 
    type="console" respawn="false" output="screen">
        <param name="gripper_force" value="20.0"/>
        <param name="gripper_epsilon_inner" value="0.002"/>
        <param name="gripper_epsilon_outer" value="0.002"/>
    </node>
</launch>