<launch>
    <node name="console" pkg="panda_controller" 
    type="console" respawn="false" output="screen">
        <param name="gripper_is_active" value="false"/>
        <param name="grasp_force" value="20.0"/>
        <param name="grasp_epsilon_inner" value="0.002"/>
        <param name="grasp_epsilon_outer" value="0.002"/>
        <param name="cartesian_step" value="0.01"/>
        <param name="cartesian_jump" value="0.0"/>
        <param name="joint_adjust_in_bounds" value="true"/>
    </node>
</launch>