<launch>
    <arg name="homing" default="false"/>
    <arg name="move" default="false"/>
    <arg name="grasp" default="false"/>
    <arg name="width" default="0.0"/>
    <arg name="speed" default="0.5"/>
    <arg name="force" default="20.0"/>
    <arg name="epsilon_inner" default="0.002"/>
    <arg name="epsilon_outer" default="0.002"/>

    <node name="gripper_move" pkg="panda_controller" 
    type="gripper_move" respawn="false" output="screen">
        <param name="homing" value="$(arg homing)"/>
        <param name="move" value="$(arg move)"/>
        <param name="grasp" value="$(arg grasp)"/>
        <param name="width" value="$(arg width)"/>
        <param name="speed" value="$(arg speed)"/>
        <param name="force" value="$(arg force)"/>
        <param name="epsilon_inner" value="$(arg epsilon_inner)"/>
        <param name="epsilon_outer" value="$(arg epsilon_outer)"/>
    </node>
</launch>
