<launch>

      <node name="pick_and_place_node" 
            pkg="panda_controller" 
            type="pick_and_place" 
            respawn="false" 
            output="screen">


            <!-- gripper -->
            <param name="real_robot"          type="bool" value="false"/>
            <param name="gripper_homing"      type="bool" value="false"/>

            <param name="gripper_speed"       type="double" value="0.5"/>

            <param name="grasp_speed"         type="double" value="0.5"/>
            <param name="grasp_force"         type="double" value="20.0"/>
            <param name="grasp_epsilon_inner" type="double" value="0.002"/>
            <param name="grasp_epsilon_outer" type="double" value="0.002"/>
            

            <!-- arm-->
            <param name="arm_velocity_factor" type="double" value="0.1"/>


            <!-- linear/waypoints move -->
            <param name="eef_step"       type="double" value="0.01"/>
            <param name="jump_threshold" type="double" value="0.00"/>


            <!-- pick and place task -->
            <param name="env_scene"       type="string" value="altair"/>
            <param name="task_scene"      type="string" value="altair"/>


            <param name="   object_width_1" type="double" value="0.05"/>
            <param name=" pre_grasp_name_1" type="string" value="assemblyA_1"/>
            <param name="    object_name_1" type="string" value="assemblyB_1"/>
            <param name="post_grasp_name_1" type="string" value="assemblyC_1"/>

            <param name=" pre_place_name_1" type="string" value="assemblyD_1"/>
            <param name="      goal_name_1" type="string" value="assemblyE_1"/>
            <param name="post_place_name_1" type="string" value="assemblyF_1"/>


            <param name="   object_width_2" type="double" value="0.05"/>
            <param name=" pre_grasp_name_2" type="string" value="assemblyA_2"/>
            <param name="    object_name_2" type="string" value="assemblyB_2"/>
            <param name="post_grasp_name_2" type="string" value="assemblyC_2"/>

            <param name=" pre_place_name_2" type="string" value="assemblyD_2"/>
            <param name="      goal_name_2" type="string" value="assemblyE_2"/>
            <param name="post_place_name_2" type="string" value="assemblyF_2"/>
      </node>

</launch>