<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="speed" default="1.0"/>
    <arg name="plan_only" default="false"/>

    <node name="relative_move" pkg="panda_controller" 
    type="relative_move" respawn="false" output="screen">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="z" value="$(arg z)"/>
        <param name="speed" value="$(arg speed)"/>
        <param name="plan_only" value="$(arg plan_only)"/>
    </node>
</launch>
