<launch>
    <arg name="frequency" default="10.0"/>
    <arg name="start_resolution" default="0.01"/>
    <arg name="delta" default="0.01"/>

    <node name="teleop_talker" pkg="panda_controller" 
    type="teleop_talker" respawn="false" output="screen">
        <param name="frequency" value="$(arg frequency)"/>
        <param name="start_resolution" value="$(arg start_resolution)"/>
        <param name="delta" value="$(arg delta)"/>
    </node>
</launch>