<launch>

      <node name="teleop_talker_node" 
            pkg="panda_controller" 
            type="teleop_talker" 
            respawn="false" 
            output="screen">

            <!-- settings -->
            <param name="frequency"               type="double" value="50"/>
            <param name="start_delta_position"    type="double" value="0.05"/>
            <param name="start_delta_orientation" type="double" value="10"/>
            <param name="start_delta_gripper"     type="double" value="0.01"/>
            
            <param name="granularity_position"    type="double" value="0.01"/>
            <param name="granularity_orientation" type="double" value="10"/>
            <param name="granularity_gripper"     type="double" value="0.005"/>


            <!-- key mapping -->
            <param name="QUIT"      type="int" value="27"/>  <!-- esc-->
            <param name="HELP"      type="int" value="104"/> <!-- h -->
            <param name="MODE"      type="int" value="109"/> <!-- m -->

            <param name="X_POS"     type="int" value="119"/> <!-- w -->
            <param name="X_NEG"     type="int" value="115"/> <!-- s -->
            <param name="Y_POS"     type="int" value="97"/>  <!-- a -->
            <param name="Y_NEG"     type="int" value="100"/> <!-- d -->
            <param name="Z_POS"     type="int" value="114"/> <!-- r -->
            <param name="Z_NEG"     type="int" value="102"/> <!-- f -->
            <param name="INC_POS"   type="int" value="101"/> <!-- e -->
            <param name="DEC_POS"   type="int" value="113"/> <!-- q -->
            <param name="READY"     type="int" value="111"/> <!-- o -->

            <param name="ROLL_POS"  type="int" value="100"/> <!-- d -->
            <param name="ROLL_NEG"  type="int" value="97"/>  <!-- a -->
            <param name="PITCH_POS" type="int" value="119"/> <!-- w -->
            <param name="PITCH_NEG" type="int" value="115"/> <!-- s -->
            <param name="YAW_POS"   type="int" value="114"/> <!-- r -->
            <param name="YAW_NEG"   type="int" value="102"/> <!-- f -->
            <param name="INC_ORIE"  type="int" value="101"/> <!-- e -->
            <param name="DEC_ORIE"  type="int" value="113"/> <!-- q -->

            <param name="GR_HOMING" type="int" value="111"/> <!-- o -->
            <param name="GR_GRASP"  type="int" value="115"/> <!-- s -->
            <param name="GR_W_POS"  type="int" value="100"/> <!-- d -->
            <param name="GR_W_NEG"  type="int" value="97"/>  <!-- a -->
            <param name="INC_GR"    type="int" value="101"/> <!-- e -->
            <param name="DEC_GR"    type="int" value="113"/> <!-- q -->
      </node>

</launch>